---

- name: Install pip
  become: true
  package: name=python-pip state=present
  when: common_pip_packages is defined

- name: Install or Upgrade pip
  become: true
  pip: name=pip state=present
  when: common_pip_packages is defined

- name: Install packages via pip
  become: true
  pip:
    name="{{ item.name }}"
    version="{{ item.version }}"
  when: common_pip_packages is defined
  with_items: "{{ common_pip_packages | default([]) }}"
